.tools-container {
  height: calc(100% - 64px);
  position: relative;
  width: 100%;
  max-width:100%;
  overflow: hidden;
}

:host ::ng-deep .tool-options {
  width: 300px;
}
:host ::ng-deep .tool-output {
  margin-left: 300px;
}
:host ::ng-deep .tools-container.expanded {
  .tool-options {
    width: 500px;
  }
  .tool-output {
    margin-left: 500px;
  }
}