.tools-container {
  height: calc(100% - 64px);
  position: relative;
  display: flex;
}

:host ::ng-deep app-tool-options {
  width: 300px;
}
:host ::ng-deep .tools-container.expanded {
  app-tool-options {
    width: 50%;
  }
}