<app-option-item>
  <app-option-item-header>
    Paste Data to Insert
  </app-option-item-header>
  <app-option-item-content>    
    <p>You can copy and paste the rows and columns from the following formats with ease:</p>
    <ul>
      <li>Excel</li>
      <li>Google Sheets</li>
      <li>CSV</li>
    </ul>
    <p>The content pasted is parsed by <strong>tab</strong> and <strong>newline</strong> characters.</p>
    <button mat-flat-button color="accent" (click)="this.openDialog();">Paste Data</button>
  </app-option-item-content>
</app-option-item>
