:host {
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.tool-output {
  $padding: 6px;
  height:calc(100% - (#{$padding * 2}));
  width: calc(100% - (#{$padding * 2}));
  
  padding: $padding;
  > pre,
  > code {
      height: 100%; // calc(100% - #{$pre-margin * 2});
      width: 100%; //calc(100% - (16px * 2));
      margin: 0px;
      padding: $padding;
  }
}

.text-output-copy-button {
  position: absolute;
  top: 16px;
  right: 16px;
}
