.tools-drawer-container {
    height: calc(100% - 64px);
}

.tools-drawer {
    min-width: 300px;
    background-color: inherit;
}

.tools-drawer-content {
    height: 100%;
    display: flex;

}

.option {
    padding: 0 1.25rem;
}


.tools-layout-container {
    height: 100%;
    width: 100%;
}

.text-output-content {
    height: 100%;
    width: 100%;

    $pre-margin: 16px;
    $pre-padding: 16px;
    > pre {
        height: calc(100% - #{$pre-margin * 2});
        width: calc(100% - #{$pre-margin * 2});
        margin: 0px;
        padding: $pre-padding;
        margin: $pre-margin;
        overflow: auto;
    }
}

.text-output-copy-button {
    position: absolute;
    top: 16px;
    right: 16px;
}
