
<mat-drawer-container class="tools-drawer-container">
  <mat-drawer mode="side" opened class="tools-drawer">

    <div *ngFor="let option of this.options">

      <mat-list>
        <h3 matSubheader>{{ option }}</h3>
        <!-- <mat-expansion-panel-header>
            {{ option }}
        </mat-expansion-panel-header>
      -->
      <mat-list-item>
        <div [ngSwitch]="option">
          <app-input-excel-paste *ngSwitchCase="OptionsEnum.InputExcelPaste"></app-input-excel-paste>
        </div>
      </mat-list-item>

      </mat-list>
        
      <!-- </mat-expansion-panel> -->

    </div>

    <router-outlet></router-outlet>

  </mat-drawer>
  <mat-drawer-content class="tools-drawer-content">
    <div class="tools-layout-container">
      <div class="d-flex justify-content-between align-items-end mb-1">
        <button color="secondary"><mat-icon>copy</mat-icon></button>
      </div>
      <div class="text-output-content">
        <pre>
          function Hello() 
        </pre>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>