
<mat-drawer-container class="tools-drawer-container">
  <mat-drawer mode="side" opened class="tools-drawer">


  </mat-drawer>
  <mat-drawer-content class="tools-drawer-content">
    <div class="tools-layout-container">

      <div class="text-output-content">
        <div class="text-output-copy-button">
          <button color="accent" mat-icon-button [cdkCopyToClipboard]="content" ><mat-icon>content_copy</mat-icon></button>
        </div>
        <pre>{{ content }}</pre>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>