.tools-drawer-container {
    height: calc(100% - 64px);
}

.tools-drawer {
    width: 300px;
    background-color: inherit;
}

.tools-drawer-content {
    height: 100%;
    display: flex;

}




.tools-layout-container {
    height: 100%;
    width: 100%;
}

.text-output-content {
    padding-top: 36px;
    margin-top: -36px;
    height: 100%;
    width: 100%;

    > pre {
        height: 100%;
        width: 100%;
    }
}
