<h1 mat-dialog-title>Paste content from Excel, Google Sheets, CSV, etc...</h1>
<div mat-dialog-content>
  <p>The content pasted will parse the <strong>rows</strong>and <strong>columns</strong> by the <strong>tabs</strong> and <strong>newlines</strong> within the text.
    <br>
    <small>You can also enter the text manually yourself.</small>
  </p>
  <mat-form-field style="width: 100%; display: block;">
    <textarea matInput rows="30"
      placeholder="Enter content to parse" 
      [(ngModel)]="data" 
      (keydown)="onKeydown($event)"
      cdkFocusInitial
      (focus)="onFocus($event)">
    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Done</button>
</div>