
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sql-tools-primary: mat-palette($mat-purple, 600, 300, 300, 300);
$sql-tools-accent: mat-palette($mat-grey, 900, 800, 700, 600);

// The warn palette is optional (defaults to red).
$sql-tools-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sql-tools-theme: mat-dark-theme((
  color: (
    primary: $sql-tools-primary,
    accent: $sql-tools-accent,
    warn: $sql-tools-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sql-tools-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.logo {
  width: 200px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}

pre {
  background-color: mat-color($mat-grey, 900);
  border: 1px solid mat-color($mat-grey, 700);
  box-sizing: border-box;
}
